body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#title-home {
  font-family: 'Inconsolata', monospace;
  position: relative; left: 200px;
  font-weight: 100;
}

#h3-home {
  font-family: 'Inconsolata', monospace;
  position: relative; left: 200px; top: -20px;
  font-weight: 100;
}

#one-pic {
  position: absolute; left: 200px;
}

#two-pic {
  position: absolute; left: 200px; top: 1050px;
}

#home-style {
  font-family: 'Inconsolata', monospace;
 
}