body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#title-home {
  font-family: 'Inconsolata', monospace;
  position: relative; left: 200px;
  font-weight: 100;
}

#h3-home {
  font-family: 'Inconsolata', monospace;
  position: relative; left: 200px; top: -20px;
  font-weight: 100;
}

#one-pic {
  position: absolute; left: 200px;
}
#three-pic {
  position: absolute; left: 200px;top: 1100px;
}#four-pic {
  position: absolute; left: 200px;top: 1980px;
}#five-pic {
  position: absolute; left: 200px;top: 3500px;
}

#two-pic {
  position: absolute; left: 200px; top: 1050px;
}

#home-style {
  font-family: 'Inconsolata', monospace;
 
}

#h3-about {
  font-family: 'Inconsolata', monospace;
  position: relative; left: 200px; top: 0px;
  font-weight: 500;
  font-size: larger;
  color: rgb(99, 92, 92);
}

#p-test{
  word-wrap: break-word;
  position: absolute; left: 200px;
  font-family: 'Inconsolata', monospace;

}

#a-about{
  font-family: 'Inconsolata', monospace;
  position: relative; left: 200px; bottom: -4000px;
  font-weight: 500;
  font-size: larger;
  color: rgb(99, 92, 92);
}

div#footer{
  font-family: 'Inconsolata', monospace;
  color: grey;
   position:  relative; left: 40px; top: -100px;
  /* position: sticky;  */
   /* flex-shrink: 0;  */

}

a:link {
  color: grey;

}

a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: grey;
}

/* selected link */
a:active {
  color: gray;
}